 {
    margin: 0;
    padding: 0;


 }
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #092635;
}
ul
{
    position: relative;
    display: flex;
    flex-direction: column;
}
ul li
{
    list-style: none;
}

ul li:hover:before
{
    opacity: 0.05;
    letter-spacing: 0px;
}
ul li a
{
    position: relative;
    display: inline-block;
    padding: 6px 15px;
    text-decoration: none;
    background: #9EC8B9;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
